@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(255, 255, 255);
  --foreground: #171717;
  --primary: rgb(126, 34, 206);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(245, 245, 245);
  --secondary-foreground: rgb(39, 39, 42);
  --accent: rgb(244, 244, 245);
  --accent-foreground: rgb(114, 112, 112);
  --border: rgb(243 244 246);
  --radius: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
